<%- include('partials/headerEntradas'); -%>




<div style="background-color: rgb(31, 31, 31); padding: 50px 0px 50px 0px; color: white; text-align: center;">
    <h1><%=entrada.titulo%></h1>
    <h5><%=entrada.fecha%></h5>
</div>


<div class="container my-5">
    <p><%=entrada.contenido%></p>
</div>





<%- include('partials/footerEntradas'); -%>