<%- include('partials/header'); -%>

    <div style="background-color: rgb(31, 31, 31); padding: 50px 0px 50px 0px; color: white; text-align: center;">
        <h1>Mi blog</h1>
        <p class="mb-5" >Aquí encontrarás todas mis entradas</p>
    </div>

    <div class="container" >
        <%for(let i =0; i < todasEntradas.length; i++){  %>
            <%let posActual = todasEntradas[i];  %>
            <!-- POSICION BOCETO -->
            <h5 style="margin-top: 50px !important;"  ><%=posActual.fecha%>.</h5>
            <h2><%=posActual.titulo%>.</h2>
            <p ><%=posActual.contenido.substring(0,150)%>...</p>
            <a target="_blank" href="entradas/<%=posActual.url%>">Leer más</a>
            
            <!-- POSICION BOCETO -->
        <%}%>
    </div>

    <!-- BOTÓN SUSCRIBIR -->
    <div class="container mt-5">
        <a class="btn btn-primary" style="width: 100%;"  href="/suscribir" role="button">Suscribirme</a>
    </div>
    



<%- include('partials/footer'); -%>