<%- include('partials/header'); -%>


    <div class="container" >
        <h1>Mi blog</h1>
        <p class="mb-5" >Aquí encontrarás todas mis entradas</p>


        <!-- Titulo -->

        <%for(let i =0; i < todasEntradas.length; i++){  %>
            <%let posActual = todasEntradas[i];  %>
            <!-- POSICION BOCETO -->
            <h5 style="margin-top: 50px !important;"  ><%=posActual.fecha%>.</h5>
            <h2><%=posActual.titulo%>.</h2>
            <p ><%=posActual.contenido.substring(0,150)%>...</p>
            <a target="_blank" href="entradas/<%=posActual.url%>">Leer más</a>
            
            <!-- POSICION BOCETO -->
        <%}%>
    </div>
    



<%- include('partials/footer'); -%>